[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=rdp

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=write
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=rdp
X-SuSE-YaST-Keywords=remote,desktop,rdp

Icon=yast-remote
Exec=xdg-su -c "/sbin/yast2 rdp"

Name=Remote Administration (RDP)
GenericName=Configure RDP (Remote Desktop Protocol)
StartupNotify=true
X-KDE-SubstituteUID=true